// Created by Guoxing.han on 2015-12-30.
header{
    width: 100%;
    line-height: 300%;
    text-align: center;
    font-size: 32px;
}
section{
    width: 100%;
    line-height: 500%;
    text-align: center;
    font-size: 22px;
}